Options -Indexes

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE image/svg+xml
	<Files "rrd.php">
		SetOutputFilter DEFLATE
	</Files>
</IfModule>

RewriteEngine On
RewriteRule ^.git(ignore|/) - [F,L]
