body {
	font-family: sans-serif;
	margin: 0px;
}

#header {
	background: #4d79b5;
	padding-left: 10px;
}

#header a{
	display: block;
	padding: 8px;
	color: #fff;
	text-decoration: none;
}

#content, #footer{
	padding: 0px 20px 16px;
}

h1 {
	margin-top: 0;
	font-size: 1em;
}

h2 {
	font-size: 1.5em;
	margin: 0.5em 0;
}

h3 {
	font-size: 1em;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #222;
}

a:hover {
	text-decoration: underline;
}

table.summary th {
	width: 150px;
	font-weight: normal;
	text-align: left;
}

table.summary tr.even {
/*	background: #eeeeee; */
}

table.summary tr.odd {
/*	background: #cccccc; */
}

table.summary td {
	width: 50px;
	text-align: right;
}

img {
	border: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	margin-left: 10px;
}

hr {
	height: 0;
	border: 0;
	margin-bottom: 0;
	border-top: 1px solid #000;
}

.point {
	cursor: pointer;
}

.small {
	font-size: 0.7em;
}

.warn {
	font-weight: bold;
	color: #D50100;
}
