div#footer {
    padding-top:60px;
}

.sidebar-nav-fixed {
    position:fixed;
    top:40px;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
        width: auto;
    }
}

.pos-relative {
    position:relative;
}

.pos-absolute {
    position:absolute;
}

.img-menu {
    top:10px;
    right:10px;
    width:60px;
    padding:5px 5px 0px 5px;
}

.img-menu li {
    margin:1px;
}

.bg-test {
    background-color: #FF0000;
}